body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #540606;
    color: #883636;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    margin: 10px;
    text-align: center;
}

img {
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin: 20px 0;
    border: 1px solid;
}