main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(red, green, blue)(0 0 0/0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;

}