/*nav rule : background-colour and padding */
nav {
    background-color: #333;
    padding: 1rem;
}

/*nav a rule: color, padding, and display: block */
nav a {
    color: #fff;
    padding: 0.5rem;
    display: block;
}

/*main rule: max-width declaration */
main {
    max-width: 840px;
    margin: 0 auto;
}

/*h1 rule : color declaration */
h1 {
    color: #333;
}

/*main img rule: width, height, border, padding,and box-shadow */
main img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*aside rule; width, margin, border, padding, background-color, and color*/
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0)(0, 2);
    padding: 1rem;
    background-color: #eee;
    color: #333;

}

/*aside img rule: width: 200px and height: auto*/
aside img {
    width: 200px;
    height: auto;
}

/*p rule: padding 0 declarations*/
p {
    padding: 0;
}

/*footer rule: margin-top, border-top,and text-align:center*/
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}